apiVersion: v1
kind: Secret
metadata:
  name: {{ include "blueprint-api.fullname" . }}
  labels:
    {{- include "blueprint-api.labels" . | nindent 4 }}
type: Opaque
stringData:
{{- range $key, $val := .Values.env }}
  {{ $key }}: {{ (tpl $val $) | quote }}
{{- end }}