blueprint-api:
  image:
    tag: "0.3.10"

  # Ingress configuration example for NGINX
  # TLS and Host URLs need configured
  ingress:
    enabled: true
    className: ""
    annotations:
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/proxy-read-timeout: '86400'
      nginx.ingress.kubernetes.io/proxy-send-timeout: '86400'
      nginx.ingress.kubernetes.io/use-regex: 'true'
    hosts:
      - host: blueprint.example.com
        paths:
          - path: /(api|swagger/hubs)
            pathType: ImplementationSpecific
    tls:
      - secretName: ''
        hosts:
          - example.com

  ## existingSecret references a secret already in k8s. 
  ## The key/value pairs in the secret are added as environment variables.
  existingSecret: ""

  env:
    # CORS policy settings.
    # The first entry should be the URL to Blueprint
    CorsPolicy__Origins__0: https://blueprint.example.com

        # Connection String to database
    # database requires the 'uuid-ossp' extension installed
    ConnectionStrings__PostgreSQL: 'Server=postgres;Port=5432;Database=blueprint_api;Username=blueprint_dbu;Password=;'

    # OAuth2 Identity Client for Application
    Authorization__Authority: https://identity.example.com
    Authorization__AuthorizationUrl: https://identity.example.com/connect/authorize
    Authorization__TokenUrl: https://identity.example.com/connect/token
    Authorization__AuthorizationScope: blueprint
    Authorization__ClientId: blueprint.swagger
    Authorization__ClientName: Blueprint API Swagger

blueprint-ui:
  # Docker image release version
  image:
    tag: '0.3.12'

  # Ingress configuration example for NGINX
  # TLS and Host URLs need configured
  ingress:
    enabled: true
    className: ""
    annotations:
      kubernetes.io/ingress.class: nginx
    hosts:
      - host: blueprint.example.com
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
      - secretName: ''
        hosts:
          - example.com

  ## extraVolumeMounts and Volumes is stringified YAML of kubernetes volume definitions
  # Example use to overwrite the white ruler icon from a file in a configMap:
  #
  # extraVolumes: |
  #   - name: "replacement-icon-vol"
  #      configMap:
  #        name: "replacement-icons"
  #
  # extraVolumeMounts: |
  #   - name: "replacement-icon-vol"
  #     mountPath: /usr/share/nginx/html/assets/img/pencil-ruler-white.png
  #     subPath: pencil-ruler-white.png
  #
  # See kubernetes documentation for configuring your volumes:
  # https://kubernetes.io/docs/concepts/storage/volumes/
  extraVolumes: ""

  extraVolumeMounts: ""

  env:
  # Config app settings with a JSON file.
  # These values correspond to an OpenID connect client and
  # some basic configuration
  settings: '{
    "ApiUrl": "https://blueprint.example.com",
    "OIDCSettings": {
      "authority": "https://identity.example.com/",
      "client_id": "blueprint-ui",
      "redirect_uri": "https://blueprint.example.com/auth-callback",
      "post_logout_redirect_uri": "https://blueprint.example.com",
      "response_type": "code",
      "scope": "openid profile blueprint",
      "automaticSilentRenew": true,
      "silent_redirect_uri": "https://blueprint.example.com/auth-callback-silent"
    },
    "AppTitle": "Blueprint",
    "AppTopBarHexColor": "#2d69b4",
    "AppTopBarHexTextColor": "#FFFFFF",
    "AppTopBarText": "Blueprint  -  Exercise Planning",
    "AppTopBarImage": "/assets/img/monitor-dashboard-white.png",
    "UseLocalAuthStorage": true
    }'
