apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "topomojo-api.fullname" . }}
  labels:
    {{- include "topomojo-api.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "topomojo-api.selectorLabels" . | nindent 6 }}
  template:
    metadata:
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "topomojo-api.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "topomojo-api.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      initContainers:
      {{- if .Values.migrations.enabled }}
        - name: "{{ .Chart.Name }}-init"
          image: "groundnuty/k8s-wait-for:v1.4"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
          - "job"
          - "{{ include "topomojo-api.fullname" . }}-{{ .Release.Revision}}"
      {{- end }}
        - name: {{ .Chart.Name}}-vol-permissions
          image: bash
          command: ["bash", "-c", "/mnt/scripts/vol-permissions.sh /docs"]
          volumeMounts:
            - mountPath: /docs
              name: {{ include "topomojo-api.name" . }}-vol
              subPath: {{ include "topomojo-api.fullname" . }}/_docs
            - mountPath: /mnt/scripts/vol-permissions.sh
              name: {{ include "topomojo-api.name" . }}-scripts
              subPath: vol-permissions.sh
          securityContext:
            runAsUser: 0
          {{- include "topomojo-api.env" . | nindent 10 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if .Values.customStart }}
          command: {{ .Values.customStart.command }}
          args: {{ .Values.customStart.args }}
          {{- end }}
          {{- include "topomojo-api.env" . | nindent 10 }}
          {{- if or .Values.securityContext.readOnlyRootFilesystem (include "topomojo-api.seedSecret" .) .Values.certificateMap }}
          env:
          {{- if .Values.securityContext.readOnlyRootFilesystem }}
            - name: DOTNET_EnableDiagnostics
              value: "0"
            - name: DOTNET_URLS
              value: "http://*:8080"
          {{- end }}
          {{- if (include "topomojo-api.seedSecret" .) }}
            - name: Database__SeedFile
              value: "/seed/seed-data.json"
          {{- end }}
          {{- if .Values.certificateMap }}
            - name: SSL_CERT_DIR
              value: /usr/local/share/ca-certificates/
          {{- end }}
          {{- end }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          volumeMounts:
          {{- if .Values.customStart }}
            - mountPath: /home/app/start
              name: {{ include "topomojo-api.name" . }}-conf
          {{- end }}
          {{- if .Values.certificateMap }}
            - mountPath: /usr/local/share/ca-certificates
              name: certificates
          {{- end }}
          {{- if .Values.existingSecret }}
            - mountPath: /home/app/conf
              name: {{ include "topomojo-api.name" . }}-extra
          {{- end }}
            - mountPath: /home/app/wwwroot/docs
              name: {{ include "topomojo-api.name" . }}-vol
              subPath: {{ include "topomojo-api.fullname" . }}/_docs
            - mountPath: /mnt/tm
              name: {{ include "topomojo-api.name" . }}-vol
              subPath: {{ include "topomojo-api.fullname" . }}
          {{- if .Values.health }}
          {{- toYaml .Values.health | nindent 10 }}
          {{- end }}
          {{- if (include "topomojo-api.seedSecret" .) }}
            - mountPath: /seed/seed-data.json
              name: {{ include "topomojo-api.name" . }}-seed
              subPath: {{ default "seedData" .Values.seedData.existingSeedDataSecretKey }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      {{- if .Values.certificateMap }}
      - name: certificates
        configMap:
          name: {{ .Values.certificateMap }}
      {{- end }}
      {{- if .Values.customStart }}
      - name: {{ include "topomojo-api.name" . }}-conf
        configMap:
          name: {{ include "topomojo-api.fullname" . }}
      {{- end }}
      {{- if .Values.existingSecret }}
      - name: {{ include "topomojo-api.name" . }}-extra
        secret:
          secretName: {{ (tpl .Values.existingSecret .) }}
      {{- end }}
      {{- if .Values.storage.existing }}
      - name: {{ include "topomojo-api.name" . }}-vol
        persistentVolumeClaim:
          claimName: {{ (tpl .Values.storage.existing .) }}
      {{- else if .Values.storage.size }}
      - name: {{ include "topomojo-api.name" . }}-vol
        persistentVolumeClaim:
          claimName: {{ include "topomojo-api.fullname" . }}
      {{- else }}
      - name: {{ include "topomojo-api.name" . }}-vol
        emptyDir: {}
      {{- end }}
      - name: {{ include "topomojo-api.name" . }}-scripts
        configMap:
          name: {{ include "topomojo-api.fullname" . }}-scripts
          defaultMode: 0755
      {{- if (include "topomojo-api.seedSecret" .) }}
      - name: {{ include "topomojo-api.name" . }}-seed
        secret:
          secretName: {{ include "topomojo-api.seedSecret" . }}
      {{- end }}
