{{ if eq .Values.kind "Deployment" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "caster-api.fullname" . }}
  labels:
    {{- include "caster-api.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "caster-api.selectorLabels" . | nindent 6 }}
  template:
    metadata:
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "caster-api.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "caster-api.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      initContainers:
        - name: {{ .Chart.Name}}-install-terraform
          image: debian:bookworm-slim
          command: ["bash", "-c", "/mnt/scripts/install-terraform.sh"]
          volumeMounts:
            - mountPath: /terraform
              name: {{ include "caster-api.name" . }}-vol
              subPath: {{ include "caster-api.fullname" . }}/terraform
            - mountPath: /mnt/scripts/install-terraform.sh
              name: {{ include "caster-api.fullname" . }}-scripts
              subPath: install-terraform.sh
          securityContext:
            runAsUser: 0
          {{- include "caster-api.env" . | nindent 10 }}
        - name: {{ .Chart.Name}}-vol-permissions
          image: bash
          command: ["bash", "-c", "/mnt/scripts/vol-permissions.sh /terraform"]
          volumeMounts:
            - mountPath: /terraform
              name: {{ include "caster-api.name" . }}-vol
              subPath: {{ include "caster-api.fullname" . }}/terraform
            - mountPath: /mnt/scripts/vol-permissions.sh
              name: {{ include "caster-api.fullname" . }}-scripts
              subPath: vol-permissions.sh
          securityContext:
            runAsUser: 0
          {{- include "caster-api.env" . | nindent 10 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          command: {{- toYaml .Values.command | nindent 10 }}
          {{- include "caster-api.env" . | nindent 10 }}
          {{- if .Values.certificateMap }}
          env:
            - name: SSL_CERT_DIR
              value: /usr/local/share/ca-certificates/
          {{- end }}
          ports:
            - name: http
              containerPort: {{ default 8080 .Values.service.targetPort }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /api/health/live
              port: http
          readinessProbe:
            httpGet:
              path: /api/health/ready
              port: http
          startupProbe:
            httpGet:
              path: /api/health/live
              port: http
            failureThreshold: 30
            periodSeconds: 10
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - mountPath: /root/.git-credentials
              subPath: .git-credentials
              name: {{ include "caster-api.fullname" . }}-gitcredentials
            {{- if .Values.terraformrc.enabled }}
            - mountPath: /root/.terraformrc
              subPath: .terraformrc
              name: {{ include "caster-api.fullname" . }}-terraformrc
            {{- end }}
            - mountPath: /terraform
              name: {{ include "caster-api.name" . }}-vol
              subPath: {{ include "caster-api.fullname" . }}/terraform
            - mountPath: /install-terraform.sh
              subPath: install-terraform.sh
              name: {{ include "caster-api.fullname" . }}-scripts
            {{- if .Values.certificateMap }}
            - mountPath: /usr/local/share/ca-certificates
              name: certificates
            {{- end }}
      volumes:
        {{- if .Values.certificateMap }}
        - name: certificates
          configMap:
            name: {{ .Values.certificateMap }}
        {{- end }}
        {{- if .Values.storage.existing }}
        - name: {{ include "caster-api.name" . }}-vol
          persistentVolumeClaim:
            claimName: {{ (tpl .Values.storage.existing .) }}
        {{- else if .Values.storage.size }}
        - name: {{ include "caster-api.name" . }}-vol
          persistentVolumeClaim:
            claimName: {{ include "caster-api.fullname" . }}-vol
        {{- else }}
        - name: {{ include "caster-api.name" . }}-vol
          emptyDir: {}
        {{- end }}
        - name: {{ include "caster-api.fullname" . }}-scripts
          configMap:
            name: {{ include "caster-api.fullname" . }}-scripts
            defaultMode: 0755
        - name: {{ include "caster-api.fullname" . }}-gitcredentials
          configMap:
            name: {{ include "caster-api.fullname" . }}-gitcredentials
        {{- if .Values.terraformrc.enabled }}
        - name: {{ include "caster-api.fullname" . }}-terraformrc
          configMap:
            name: {{ include "caster-api.fullname" . }}-terraformrc
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
