{{- if .Values.storage.size }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "caster-api.fullname" . }}-vol
  labels:
    {{- include "caster-api.labels" . | nindent 4 }}
spec:
  accessModes:
  {{- if eq .Values.env.Terraform__KubernetesJobs__Enabled "true" }}
  - "ReadWriteMany"
  {{- else }}
  - {{ .Values.storage.mode | quote }}
  {{- end }}
  resources:
    requests:
      storage: {{ .Values.storage.size | quote }}
  storageClassName: {{ .Values.storage.class }}
{{- end -}}
