apiVersion: v1
kind: Secret
metadata:
  name: {{ include "caster-api.fullname" . }}
  labels:
    {{- include "caster-api.labels" . | nindent 4 }}
type: Opaque
stringData:
# Add default conditional env vars. Can be overridden by explicit env vars in values.yaml.
{{- if .Values.certificateMap }}
  SSL_CERT_DIR: /usr/local/share/ca-certificates/:/etc/ssl/certs/
{{- end }}
{{- if .Values.gitcredentials }}
  GIT_CONFIG_SYSTEM: /app/.git-credentials
{{- end }}
{{- if .Values.terraformrc.enabled }}
  TF_CLI_CONFIG_FILE: /app/.terraformrc
{{- end }}

{{- if eq .Values.env.Terraform__KubernetesJobs__Enabled "true" }}
  {{- if .Values.storage.existing }}
  Terraform__KubernetesJobs__PersistentVolumeClaimName: {{ (tpl .Values.storage.existing .) }}
  {{- else if .Values.storage.size }}
  Terraform__KubernetesJobs__PersistentVolumeClaimName: {{ include "caster-api.fullname" . }}-vol
  {{- end }}
  Terraform__KubernetesJobs__VolumeMountPath: /terraform
  Terraform__KubernetesJobs__VolumeMountSubPath: {{ include "caster-api.fullname" . }}/terraform
{{- end }}

{{- include "caster-api.k8sJobConfigMaps" . | nindent 2 }}
{{- range $key, $val := .Values.env }}
  {{- if not (hasPrefix "Terraform__KubernetesJobs__ConfigMaps__" $key) }}
  {{ $key }}: {{ (tpl ($val | toString) $) | quote }}
  {{- end }}
{{- end }}
