apiVersion: v1
kind: Secret
metadata:
  name: {{ include "caster-api.fullname" . }}
  labels:
    {{- include "caster-api.labels" . | nindent 4 }}
type: Opaque
stringData:
{{- if .Values.certificateMap }}
  SSL_CERT_DIR: /usr/local/share/ca-certificates/:/etc/ssl/certs/
{{- end }}
{{- if .Values.gitcredentials }}
  GIT_CONFIG_SYSTEM: /app/.git-credentials
{{- end }}
{{- if .Values.terraformrc.enabled }}
  TF_CLI_CONFIG_FILE: /app/.terraformrc
{{- end }}
{{- range $key, $val := .Values.env }}
  {{ $key }}: {{ (tpl ($val | toString) $) | quote }}
{{- end }}
