apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "gameboard-api.fullname" . }}
  labels:
    {{- include "gameboard-api.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "gameboard-api.selectorLabels" . | nindent 6 }}
  template:
    metadata:
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "gameboard-api.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "gameboard-api.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if or .Values.cacert .Values.cacertSecret }}
          command: ["/bin/sh"]
          args: ["/start/start.sh"]
          {{- end }}
          {{- if .Values.certificateMap }}
          env:
            - name: SSL_CERT_DIR
              value: /usr/local/share/ca-certificates/
          {{- end }}
          {{- if .Values.existingSecret }}
          envFrom:
            - secretRef:
                name: {{ include "gameboard-api.fullname" . }}
            - secretRef:
                name: {{ (tpl .Values.existingSecret .) }}
          {{- else }}
          envFrom:
            - secretRef:
                name: {{ include "gameboard-api.fullname" . }}
          {{- end }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          volumeMounts:
          {{- if or .Values.cacert .Values.cacertSecret }}
            - mountPath: /start
              name: {{ include "gameboard-api.name" . }}-conf
          {{- end }}
          {{- if .Values.certificateMap }}
            - mountPath: /usr/local/share/ca-certificates
              name: certificates
          {{- end }}
            - mountPath: /app/.dpk
              name: {{ include "gameboard-api.name" . }}-vol
              subPath: {{ include "gameboard-api.fullname" . }}/.dpk
            - mountPath: /app/conf
              name: {{ include "gameboard-api.name" . }}-vol
              subPath: {{ include "gameboard-api.fullname" . }}/conf
            - mountPath: /app/wwwroot/docs
              name: {{ include "gameboard-api.name" . }}-vol
              subPath: {{ include "gameboard-api.fullname" . }}/docs
            - mountPath: /app/wwwroot/img
              name: {{ include "gameboard-api.name" . }}-vol
              subPath: {{ include "gameboard-api.fullname" . }}/img
            - mountPath: /app/wwwroot/supportfiles
              name: {{ include "gameboard-api.name" . }}-vol
              subPath: {{ include "gameboard-api.fullname" . }}/supportfiles
            - mountPath: /mnt/tm
              name: {{ include "gameboard-api.name" . }}-vol
              subPath: {{ include "gameboard-api.fullname" . }}
          {{- if .Values.health }}
          {{- toYaml .Values.health | nindent 10 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
        {{- if .Values.giturl }}
        - name: {{ .Chart.Name }}-job
          image: alpine
          command: [ "/entry.d/job.sh" ]
          volumeMounts:
            - mountPath: /entry.d
              name: {{ include "gameboard-api.name" . }}-conf
            - mountPath: /docs
              name: {{ include "gameboard-api.name" . }}-vol
              subPath: {{ include "gameboard-api.fullname" . }}/docs
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      {{- if .Values.certificateMap }}
      - name: certificates
        configMap:
          name: {{ .Values.certificateMap }}
      {{- end }}
      - name: {{ include "gameboard-api.name" . }}-conf
        configMap:
          name: {{ include "gameboard-api.fullname" . }}
          defaultMode: 0775
      {{- if .Values.storage.existing }}
      - name: {{ include "gameboard-api.name" . }}-vol
        persistentVolumeClaim:
          claimName: {{ (tpl .Values.storage.existing .) }}
      {{- else if .Values.storage.size }}
      - name: {{ include "gameboard-api.name" . }}-vol
        persistentVolumeClaim:
          claimName: {{ include "gameboard-api.fullname" . }}
      {{- else }}
      - name: {{ include "gameboard-api.name" . }}-vol
        emptyDir: {}
      {{- end }}
