steamfitter-api:

  # Docker image release version
  image:
    tag: "2.0.5"
  
  # Ingress configuration example for NGINX
  # TLS and Host URLs need configured
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/proxy-read-timeout: '86400'
      nginx.ingress.kubernetes.io/proxy-send-timeout: '86400'
      nginx.ingress.kubernetes.io/use-regex: "true"
    hosts:
      - host: steamfitter.example.com
        paths:
        - /(api|swagger|bondagents|views|tasks|results|scenariotemplates|scenarios|sessions|users|vms|dispatchtaskresults|me/|exerciseagents|permissions|userpermissions|hubs)
    tls:
      - secretName: ""
        hosts:
         - example.com

  # If this deployment needs to trust non-public certificates,
  # - Enable this option
  # - Place the certificates in a Volume and create a PV and PVC for them
  # - Enter the name for the PVC as pvcName
  applyCertificates:
    enabled: false
    pvcName: ""

  # Config app settings with environment vars.
  # Those most likely needing values are listed. For others,
  # see https://github.com/cmu-sei/crucible/blob/master/steamfitter.api/Steamfitter.Api/appsettings.json
  env:
    # Proxy Settings
    https_proxy: proxy.example.com:9000
    http_proxy: proxy.example.com:9000
    HTTP_PROXY: proxy.example.com:9000
    HTTPS_PROXY: proxy.example.com:9000
    NO_PROXY: .local
    no_proxy: .local

    # Connection String to database
    # If the Helm release is named "steamfitter", the defaults should work after filling in a password
    ConnectionStrings__PostgreSQL: "Server=steamfitter-steamfitter-psql;Port=5432;Database=steamfitter_api;Username=steamfitter_dbu;Password=;"

    # CORS policy settings.
    # The first entry should be the URL to Steamfitter
    CorsPolicy__Origins__0: https://steamfitter.example.com

    # OAuth2 Identity Client for Application
    Authorization__Authority: https://identity.example.com
    Authorization__AuthorizationUrl: https://identity.example.com/connect/authorize
    Authorization__AuthorizationScope: "player-api steamfitter-api vm-api"
    Authorization__ClientId: steamfitter-api-dev
    Authorization__ClientName: "Steamfitter API"

    # OAuth2 Identity Client /w Password
    ResourceOwnerAuthorization__Authority: https://identity.example.com
    ResourceOwnerAuthorization__ClientId: steamfitter-api
    ResourceOwnerAuthorization__UserName: 
    ResourceOwnerAuthorization__Password: 
    ResourceOwnerAuthorization__Scope: "vm-api"

    # Crucible URLs
    ClientSettings__urls__playerApi: https://player.example.com/
    ClientSettings__urls__vmApi: https://vm.example.com/

    # Stackstorm Configuration
    # TODO - Document Stackstorm dependencies
    VmTaskProcessing__ApiType: st2
    VmTaskProcessing__ApiUsername: "st2admin"
    VmTaskProcessing__ApiPassword: 
    VmTaskProcessing__ApiBaseUrl: "https://stackstorm.example.com"
    VmTaskProcessing__ApiParameters__clusters: ""

    # Basic seed data to jumpstart deployement
    # TODO - Document Seed data
    # SeedData__Users__0__id: ""
    # SeedData__Users__0__name: ""

    # SeedData__Users__1__id: ""
    # SeedData__Users__1__name: ""

    # SeedData__UserPermissions__0__UserId: ""
    # SeedData__UserPermissions__0__PermissionId: ""
    # SeedData__UserPermissions__1__UserId: ""
    # SeedData__UserPermissions__1__PermissionId: ""

steamfitter-ui:

  # Docker image release version
  image:
    tag: "2.0.5"

  # Ingress configuration example for NGINX
  # TLS and Host URLs need configured
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
    hosts:
      - host: steamfitter.example.com
        paths:
        - /
    tls:
      - secretName: ""
        hosts:
         - example.com

  # Config app settings with a JSON file.
  # These values correspond to an OpenID connect client
  settings: '{
      "ApiUrl": "https://steamfitter.example.com",
      "VmApiUrl": "https://vm.example.com",
      "ApiPlayerUrl": "https://player.example.com",
      "OIDCSettings": {
          "authority": "https://identity.example.com",
          "client_id": "steamfitter-ui-dev",
          "redirect_uri": "https://steamfitter.example.com/auth-callback/",
          "post_logout_redirect_uri": "https://steamfitter.example.com",
          "response_type": "id_token token",
          "scope": "openid profile player-api vm-api steamfitter-api",
          "automaticSilentRenew": true,
          "silent_redirect_uri": "https://steamfitter.example.com/auth-callback-silent/"
      },
      "UseLocalAuthStorage": true
  }'