{{- if .Values.postgresql.enabled }}
{{- /* Persist postgres account password on chart reinstall */ -}}
{{- $postgresPassword := "" }}
{{- $postgresqlSecret := lookup "v1" "Secret" .Release.Namespace (printf "%s-postgresql" (include "crucible-infra.fullname" .)) }}
{{- if $postgresqlSecret }}
{{-   $postgresPassword = index $postgresqlSecret.data "postgres-password" | b64dec }}
{{- else }}
{{-   $postgresPassword = randAlphaNum 16 }}
{{- end }}

apiVersion: v1
kind: Secret
metadata:
  name: {{ include "crucible-infra.fullname" . }}-postgresql
  labels:
    {{- include "crucible-infra.labels" . | nindent 4 }}
  annotations:
    helm.sh/resource-policy: keep
type: Opaque
data:
  postgres-password: {{ $postgresPassword | b64enc | quote }}
  username: {{ "postgres" | b64enc | quote }}

---
{{- end }}
{{- if .Values.pgadmin4.enabled }}
{{- /* Persist pgAdmin password on chart reinstall */ -}}
{{- $pgadminPassword := "" }}
{{- $pgadminSecret := lookup "v1" "Secret" .Release.Namespace (printf "%s-pgadmin" (include "crucible-infra.fullname" .)) }}
{{- if $pgadminSecret }}
{{-   $pgadminPassword = index $pgadminSecret.data "password" | b64dec }}
{{- else }}
{{-   $pgadminPassword = randAlphaNum 16 }}
{{- end }}

apiVersion: v1
kind: Secret
metadata:
  name: {{ include "crucible-infra.fullname" . }}-pgadmin
  labels:
    {{- include "crucible-infra.labels" . | nindent 4 }}
  annotations:
    helm.sh/resource-policy: keep
type: Opaque
data:
  password: {{ $pgadminPassword | b64enc | quote }}

---
{{- end }}
{{- /* TLS Certificate Secret - only created if tls.create is enabled */ -}}
{{- if .Values.tls.create }}
{{- if and .Values.tls.certFile .Values.tls.keyFile }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.tls.secretName | default "crucible-cert" }}
  labels:
    {{- include "crucible-infra.labels" . | nindent 4 }}
  annotations:
    helm.sh/resource-policy: keep
type: kubernetes.io/tls
data:
  tls.crt: {{ (.Files.Get .Values.tls.certFile | b64enc) | quote }}
  tls.key: {{ (.Files.Get .Values.tls.keyFile | b64enc) | quote }}
{{- end }}
{{- end }}
