cite-api:
  # Docker image release version. Defaults to appVersion of cite-api child chart
  image:
    tag: ""

  # Ingress configuration example for NGINX
  # TLS and Host URLs need configured
  ingress:
    enabled: true
    className: ""
    annotations:
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/proxy-read-timeout: "86400"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "86400"
      nginx.ingress.kubernetes.io/use-regex: "true"
    hosts:
      - host: cite.example.com
        paths:
          - path: /(api|swagger/hubs)
            pathType: ImplementationSpecific
    tls:
      - secretName: ""
        hosts:
          - example.com

  ## existingSecret references a secret already in k8s.
  ## The key/value pairs in the secret are added as environment variables.
  existingSecret: ""

  # If this deployment needs to trust non-public certificates,
  # create a configMap with the needed certifcates and specify
  # the configMap name here
  certificateMap: ""

  # Config app settings with environment vars.
  # Those most likely needing values are listed. For others,
  # see https://github.com/cmu-sei/crucible/blob/master/alloy.api/Alloy.Api/appsettings.json
  env:
    # Proxy Settings
    # http_proxy: proxy.example.com:9000
    # https_proxy: proxy.example.com:9000
    # HTTP_PROXY: proxy.example.com:9000
    # HTTPS_PROXY: proxy.example.com:9000
    # NO_PROXY: .local
    # no_proxy: .local

    ## If hosting in virtual directory, specify path base
    PathBase: ""

    # CORS policy settings.
    # The first entry should be the URL to CITE
    CorsPolicy__Origins__0: https://cite.example.com

    # Connection String to database
    # database requires the 'uuid-ossp' extension installed
    ConnectionStrings__PostgreSQL: "Server=postgres;Port=5432;Database=cite_api;Username=cite_dbu;Password=;"

    # OAuth2 Identity Client for Application
    Authorization__Authority: https://identity.example.com
    Authorization__AuthorizationUrl: https://identity.example.com/connect/authorize
    Authorization__TokenUrl: https://identity.example.com/connect/token
    Authorization__AuthorizationScope: "cite-api"
    Authorization__ClientId: cite-api
    Authorization__ClientName: "CITE API"

    # Open Telemetry
    # OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4317

    # These settings toggle ServiceDefaults configurations for Otel
    OpenTelemetry__AddAlwaysOnTracingSampler: false
    OpenTelemetry__AddConsoleExporter: false
    OpenTelemetry__AddPrometheusExporter: false
    OpenTelemetry__IncludeDefaultActivitySources: true
    OpenTelemetry__IncludeDefaultMeters: true

    # Optional: force HTTP instead of the default gRPC protocol
    # OTEL_EXPORTER_OTLP_PROTOCOL: http/protobuf
    # Optional: override the service name reported to collectors
    # OTEL_SERVICE_NAME: cite-api

  # Seed data configuration.  Documentation on seed data TBD when CITE gets open-sourced
  conf:
    seed: ""

cite-ui:
  # Docker image release version. Defaults to appVersion of cite-ui child chart
  image:
    tag: ""

  # Ingress configuration example for NGINX
  # TLS and Host URLs need configured
  ingress:
    enabled: true
    className: ""
    annotations:
      kubernetes.io/ingress.class: nginx
    hosts:
      - host: cite.example.com
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
      - secretName: ""
        hosts:
          - example.com

  ## extraVolumeMounts and extraVolumes are stringified YAML of kubernetes volume definitions
  # Example use to overwrite the default dropdown indicator from a file in a configMap:
  #
  # extraVolumes: |
  #   - name: "replacement-icon-vol"
  #      configMap:
  #        name: "replacement-icons"
  #
  # extraVolumeMounts: |
  #   - name: "replacement-icon-vol"
  #     mountPath: /usr/share/nginx/html/assets/svg-icons/ic_expand_more.svg
  #     subPath: ic_expand_more.svg
  #
  # See kubernetes documentation for configuring your volumes:
  # https://kubernetes.io/docs/concepts/storage/volumes/
  extraVolumes: ""

  extraVolumeMounts: ""

  env:
    ## basehref is path to the app
    APP_BASEHREF: ""

  ## settings is stringified json that gets included as assets/settings.json
  settings: "{}"

  ## assets/settings.json content in yaml form. Takes precedence over settings: value when populated.
  settingsYaml:
    # ApiUrl: https://cite.example.com
    # OIDCSettings:
    #   authority: https://identity.example.com/
    #   client_id: cite-ui
    #   redirect_uri: https://cite.example.com/auth-callback
    #   post_logout_redirect_uri: https://cite.example.com
    #   response_type: code
    #   scope: openid profile alloy-api player-api vm-api cite-api
    #   automaticSilentRenew: true
    #   silent_redirect_uri: https://cite.example.com/auth-callback-silent
    # AppTitle: CITE
    # AppTopBarHexColor: "#2d69b4"
    # AppTopBarHexTextColor: "#FFFFFF"
    # AppTopBarText: CITE  -  Collaborative Incident Threat Evaluator
    # UseLocalAuthStorage: true
    # DefaultScoringModelId: ""
    # DefaultEvaluationId: ""
    # DefaultTeamId: ""
