{{- $moodle := .Values.moodle | default dict }}
{{- $keycloak := $moodle.keycloak | default dict }}
{{- if and $keycloak.enabled (not $keycloak.existingSecret) }}
{{- $secretName := include "moodle.keycloak.secretName" . }}
{{- $secretKey := $keycloak.existingSecretKey | default "client-secret" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    {{- include "moodle.labels" . | nindent 4 }}
  {{- with .Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
stringData:
  {{ $secretKey }}: {{ $keycloak.clientSecret }}
{{- end }}
