{{- $moodle := .Values.moodle | default dict }}
{{- $oidc := $moodle.oidc | default dict }}
{{- if and $oidc.enabled (not $oidc.existingSecret) }}
{{- $secretName := include "moodle.oidc.secretName" . }}
{{- $secretKey := $oidc.existingSecretKey | default "client-secret" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    {{- include "moodle.labels" . | nindent 4 }}
  {{- with .Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
stringData:
  {{ $secretKey }}: {{ $oidc.clientSecret }}
{{- end }}
