{{- $readOnlyDirroot := .Values.readOnlyDirroot | default dict }}
{{- if and $readOnlyDirroot.enabled (not $readOnlyDirroot.secret.name) }}
{{- $moodle := .Values.moodle | default dict }}
{{- $admin := $moodle.admin | default dict }}
{{- $site := $moodle.site | default dict }}
{{- $proxy := $moodle.proxy | default dict }}
{{- $database := $moodle.database | default dict }}
{{- $secretConfig := $readOnlyDirroot.secret | default dict }}
{{- $DB_PASS := "" }}
{{- if $database.password }}
{{- $DB_PASS = $database.password }}
{{- else if $database.existingSecret }}
{{- $existingSecretName := tpl $database.existingSecret . }}
{{- $existingDbSecret := lookup "v1" "Secret" .Release.Namespace $existingSecretName }}
{{- if $existingDbSecret }}
{{- $dbSecretKey := $database.existingSecretKey | default "password" }}
{{- $DB_PASS = index $existingDbSecret.data $dbSecretKey | b64dec }}
{{- end }}
{{- end }}
{{- $DB_HOST := tpl ($database.host | default "pg-postgresql") . }}
{{- $DB_NAME := tpl ($database.name | default "moodledb") . }}
{{- $DB_USER := tpl ($database.user | default "moodle") . }}
{{- $DB_PORT := $database.port | default "5432" }}
{{- $DB_PREFIX := tpl ($database.prefix | default "mdl_") . }}
{{- $SITE_URL := tpl ($site.url | default "http://localhost:8080") . }}
{{- $REVERSEPROXY := $proxy.reverseProxy | default "false" }}
{{- $SSLPROXY := $proxy.sslProxy | default "false" }}
{{- $configKey := $secretConfig.key | default "config.php" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "moodle.fullname" . }}-config
  labels:
    {{- include "moodle.labels" . | nindent 4 }}
  {{- with .Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
stringData:
  {{ $configKey }}: |
    <?php
    unset($CFG);
    global $CFG;
    $CFG = new stdClass();

    $CFG->dbtype = "{{ $database.type }}";
    $CFG->dblibrary = "native";
    $CFG->dbhost = "{{ $DB_HOST }}";
    $CFG->dbname = "{{ $DB_NAME }}";
    $CFG->dbuser = "{{ $DB_USER }}";
    $CFG->dbpass = "{{ $DB_PASS }}";
    $CFG->prefix = "{{ $DB_PREFIX }}";
    $CFG->dboptions = array(
      "dbpersist" => 0,
      "dbport" => {{ $DB_PORT }},
      "dbsocket" => ""
    );

    $CFG->wwwroot = "{{ $SITE_URL }}";
    $CFG->dataroot = "/var/www/moodledata/";
    $CFG->admin = "{{ $admin.username }}";
    $CFG->directorypermissions = 02777;
    $CFG->reverseproxy = {{ $REVERSEPROXY }};
    $CFG->sslproxy = {{ $SSLPROXY }};
    $CFG->preventexecpath = true;
    $CFG->enableanalytics = false;

    require_once(__DIR__ . "/lib/setup.php");
{{- end }}
