{{- $serviceAccount := .Values.serviceAccount | default dict }}
{{- if $serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "moodle.serviceAccountName" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "moodle.labels" . | nindent 4 }}
  {{- $annotations := dict }}
  {{- if .Values.commonAnnotations }}
  {{- $_ := merge $annotations .Values.commonAnnotations }}
  {{- end }}
  {{- if $serviceAccount.annotations }}
  {{- $_ := merge $annotations $serviceAccount.annotations }}
  {{- end }}
  {{- if gt (len $annotations) 0 }}
  annotations:
    {{- range $key, $value := $annotations }}
    {{ $key }}: {{ tpl ($value | toString) $ | quote }}
    {{- end }}
  {{- end }}
automountServiceAccountToken: {{ $serviceAccount.automount | default false }}
{{- end }}
