{{/* Helper function to get database credentials from app config */}}
{{- define "crucible.getDbCreds" -}}
{{- $dbConfig := .dbConfig -}}
{{- $context := .context -}}
{{- $host := default "" $dbConfig.host -}}
{{- $port := default 5432 $dbConfig.port -}}
{{- $dbName := default "" $dbConfig.name -}}
{{- $secretName := default "" $dbConfig.existingSecret -}}
{{- $usernameKey := default "username" $dbConfig.usernameKey -}}
{{- $passwordKey := default "postgres-password" $dbConfig.passwordKey -}}
{{- $user := "postgres" -}}
{{- $password := randAlphaNum 16 -}}
{{- if $secretName -}}
{{-   $dbSecret := lookup "v1" "Secret" $context.Release.Namespace $secretName -}}
{{-   if $dbSecret -}}
{{-     $user = index $dbSecret.data $usernameKey | b64dec -}}
{{-     $password = index $dbSecret.data $passwordKey | b64dec -}}
{{-   end -}}
{{- end -}}
{{- printf "Server=%s;Port=%v;Database=%s;Username=%s;Password=%s;SSL Mode=Prefer;Trust Server Certificate=true;" $host $port $dbName $user $password -}}
{{- end -}}

{{/* Persist Keycloak secrets on chart reinstall */}}
{{- $keycloakSecret := lookup "v1" "Secret" .Release.Namespace (printf "%s-keycloak-auth" (include "crucible.fullname" .)) -}}
{{- $keycloakAdminPassword := randAlphaNum 16 -}}
{{- $keycloakOauthClientSecret := (randBytes 16 | b64dec | printf "%032x") -}}
{{- $keycloakDefaultUserGuid := uuidv4 -}}

{{- if and $keycloakSecret (hasKey $keycloakSecret.data "admin-password") -}}
  {{- $keycloakAdminPassword = (index $keycloakSecret.data "admin-password" | b64dec) -}}
{{- end }}
{{- if and $keycloakSecret (hasKey $keycloakSecret.data "oauth-client-secret") -}}
  {{- $keycloakOauthClientSecret = (index $keycloakSecret.data "oauth-client-secret" | b64dec) -}}
{{- end }}
{{- if and $keycloakSecret (hasKey $keycloakSecret.data "default-user-guid") -}}
  {{- $keycloakDefaultUserGuid = (index $keycloakSecret.data "default-user-guid" | b64dec) -}}
{{- end }}

apiVersion: v1
kind: Secret
metadata:
  name: {{ include "crucible.fullname" . }}-keycloak-auth
  labels:
    {{- include "crucible.labels" . | nindent 4 }}
  annotations:
    helm.sh/resource-policy: keep
type: Opaque
stringData:
  admin-password: {{ $keycloakAdminPassword }}
  oauth-client-secret: {{ $keycloakOauthClientSecret }}
  default-user-guid: {{ $keycloakDefaultUserGuid }}

---
{{/* Alloy API Secret */}}
{{- $alloyValues := default dict (index $.Values "alloy") -}}
{{- $alloyApiValues := default dict (index $alloyValues "alloy-api") -}}
{{- $alloyDbConfig := default dict (index $alloyApiValues "database") -}}
{{- $resourceOwnerAuthorization := default dict (index $alloyApiValues "resourceOwnerAuthorization") -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "crucible.fullname" $ }}-alloy-api-custom
  labels:
    {{- include "crucible.labels" $ | nindent 4 }}
type: Opaque
stringData:
  ConnectionStrings__PostgreSQL: {{ include "crucible.getDbCreds" (dict "dbConfig" $alloyDbConfig "context" $) }}
  ResourceOwnerAuthorization__Authority: {{ tpl (default "" (index $resourceOwnerAuthorization "authority")) $ | quote }}
  ResourceOwnerAuthorization__ClientId: {{ tpl (default "" (index $resourceOwnerAuthorization "clientId")) $ | quote }}
  ResourceOwnerAuthorization__ClientSecret: {{ tpl (default "" (index $resourceOwnerAuthorization "clientSecret")) $ | quote }}
  ResourceOwnerAuthorization__UserName: {{ tpl (default "" (index $resourceOwnerAuthorization "userName")) $ | quote }}
  ResourceOwnerAuthorization__Password: {{ tpl (default "" (index $resourceOwnerAuthorization "password")) $ | quote }}

---
{{/* TopoMojo API Secret */}}
{{- $topomojoValues := default dict (index $.Values "topomojo") -}}
{{- $topomojoApiValues := default dict (index $topomojoValues "topomojo-api") -}}
{{- $topomojoDbConfig := default dict (index $topomojoApiValues "database") -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "crucible.fullname" $ }}-topomojo-api-custom
  labels:
    {{- include "crucible.labels" $ | nindent 4 }}
type: Opaque
stringData:
  appsettings.conf: |
    Database__ConnectionString = {{ include "crucible.getDbCreds" (dict "dbConfig" $topomojoDbConfig "context" $) }}

---
{{/* Player API Secret */}}
{{- $playerValues := default dict (index $.Values "player") -}}
{{- $playerApiValues := default dict (index $playerValues "player-api") -}}
{{- $playerDbConfig := default dict (index $playerApiValues "database") -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "crucible.fullname" $ }}-player-api-custom
  labels:
    {{- include "crucible.labels" $ | nindent 4 }}
type: Opaque
stringData:
  ConnectionStrings__PostgreSQL: {{ include "crucible.getDbCreds" (dict "dbConfig" $playerDbConfig "context" $) }}

---
{{/* VM API Secret */}}
{{- $vmApiValues := default dict (index $playerValues "vm-api") -}}
{{- $vmDbConfig := default dict (index $vmApiValues "database") -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "crucible.fullname" $ }}-vm-api-custom
  labels:
    {{- include "crucible.labels" $ | nindent 4 }}
type: Opaque
stringData:
  ConnectionStrings__PostgreSQL: {{ include "crucible.getDbCreds" (dict "dbConfig" $vmDbConfig "context" $) }}
  VmUsageLogging__PostgreSQL: {{ include "crucible.getDbCreds" (dict "dbConfig" (merge (dict "name" "player_vm_logging") $vmDbConfig) "context" $) }}

---
{{/* Blueprint API Secret */}}
{{- $blueprintValues := default dict (index $.Values "blueprint") -}}
{{- $blueprintApiValues := default dict (index $blueprintValues "blueprint-api") -}}
{{- $blueprintDbConfig := default dict (index $blueprintApiValues "database") -}}
{{- $blueprintResourceOwnerAuthorization := default dict (index $blueprintApiValues "resourceOwnerAuthorization") -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "crucible.fullname" $ }}-blueprint-api-custom
  labels:
    {{- include "crucible.labels" $ | nindent 4 }}
type: Opaque
stringData:
  ConnectionStrings__PostgreSQL: {{ include "crucible.getDbCreds" (dict "dbConfig" $blueprintDbConfig "context" $) }}
  ResourceOwnerAuthorization__Password: {{ tpl (default $keycloakOauthClientSecret (index $blueprintResourceOwnerAuthorization "password")) $ | quote }}

---
{{/* CITE API Secret */}}
{{- $citeValues := default dict (index $.Values "cite") -}}
{{- $citeApiValues := default dict (index $citeValues "cite-api") -}}
{{- $citeDbConfig := default dict (index $citeApiValues "database") -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "crucible.fullname" $ }}-cite-api-custom
  labels:
    {{- include "crucible.labels" $ | nindent 4 }}
type: Opaque
stringData:
  ConnectionStrings__PostgreSQL: {{ include "crucible.getDbCreds" (dict "dbConfig" $citeDbConfig "context" $) }}

---
{{/* Gallery API Secret */}}
{{- $galleryValues := default dict (index $.Values "gallery") -}}
{{- $galleryApiValues := default dict (index $galleryValues "gallery-api") -}}
{{- $galleryDbConfig := default dict (index $galleryApiValues "database") -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "crucible.fullname" $ }}-gallery-api-custom
  labels:
    {{- include "crucible.labels" $ | nindent 4 }}
type: Opaque
stringData:
  ConnectionStrings__PostgreSQL: {{ include "crucible.getDbCreds" (dict "dbConfig" $galleryDbConfig "context" $) }}

---
{{/* Gameboard API Secret */}}
{{- $gameboardValues := default dict (index $.Values "gameboard") -}}
{{- $gameboardApiValues := default dict (index $gameboardValues "gameboard-api") -}}
{{- $gameboardDbConfig := default dict (index $gameboardApiValues "database") -}}
{{- $gameEngineClientSecret := default "" (index $gameboardApiValues "gameEngineClientSecret") -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "crucible.fullname" $ }}-gameboard-api-custom
  labels:
    {{- include "crucible.labels" $ | nindent 4 }}
type: Opaque
stringData:
  Database__ConnectionString: {{ include "crucible.getDbCreds" (dict "dbConfig" $gameboardDbConfig "context" $) }}
  GameEngine__ClientSecret: {{ tpl $gameEngineClientSecret $ | quote }}

---
{{/* Caster API Secret */}}
{{- $casterValues := default dict (index $.Values "caster") -}}
{{- $casterApiValues := default dict (index $casterValues "caster-api") -}}
{{- $casterDbConfig := default dict (index $casterApiValues "database") -}}
{{- $casterClient := default dict (index $casterApiValues "client") -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "crucible.fullname" $ }}-caster-api-custom
  labels:
    {{- include "crucible.labels" $ | nindent 4 }}
type: Opaque
stringData:
  ConnectionStrings__PostgreSQL: {{ include "crucible.getDbCreds" (dict "dbConfig" $casterDbConfig "context" $) }}
  Client__Password: {{ tpl (default $keycloakOauthClientSecret (index $casterClient "password")) $ | quote }}

---
{{/* Steamfitter API Secret */}}
{{- $steamfitterValues := default dict (index $.Values "steamfitter") -}}
{{- $steamfitterApiValues := default dict (index $steamfitterValues "steamfitter-api") -}}
{{- $steamfitterDbConfig := default dict (index $steamfitterApiValues "database") -}}
{{- $steamfitterResourceOwnerAuthorization := default dict (index $steamfitterApiValues "resourceOwnerAuthorization") -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "crucible.fullname" $ }}-steamfitter-api-custom
  labels:
    {{- include "crucible.labels" $ | nindent 4 }}
type: Opaque
stringData:
  ConnectionStrings__PostgreSQL: {{ include "crucible.getDbCreds" (dict "dbConfig" $steamfitterDbConfig "context" $) }}
  ResourceOwnerAuthorization__Password: {{ tpl (default $keycloakOauthClientSecret (index $steamfitterResourceOwnerAuthorization "password")) $ | quote }}

---
{{/* Moodle Keycloak Secret */}}
{{- $moodleValues := default dict (index $.Values "moodle") -}}
{{- if $moodleValues.enabled -}}
{{- $moodleMainValues := default dict (index $moodleValues "moodle") -}}
{{- $moodleKeycloakValues := default dict (index $moodleMainValues "keycloak") -}}
{{- if and $moodleKeycloakValues.enabled $moodleKeycloakValues.existingSecret -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ tpl $moodleKeycloakValues.existingSecret $ }}
  labels:
    {{- include "crucible.labels" $ | nindent 4 }}
type: Opaque
stringData:
  {{ $moodleKeycloakValues.existingSecretKey | default "client-secret" }}: "super-safe-secret"
{{- end }}
{{- end }}
